<form action="#" method="#" novalidate="" class="ng-untouched ng-pristine ng-valid">
  <div class="card card-login">
    <div class="card-header text-center" data-background-color="rose">
      <h4 class="card-title">Login</h4>
      <div class="social-line">
        <a class="btn btn-just-icon btn-simple" href="#btn">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a class="btn btn-just-icon btn-simple" href="#pablo">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-just-icon btn-simple" href="#eugen">
          <i class="fa fa-google-plus"></i>
        </a>
      </div>
    </div>
    <p class="category text-center">
      Or Be Classical
    </p>
    <div class="card-content">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="material-icons">face</i>
        </span>
        <div class="form-group label-floating is-empty">
          <label class="control-label">First Name</label>
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="material-icons">email</i>
        </span>
        <div class="form-group label-floating is-empty">
          <label class="control-label">Email address</label>
          <input class="form-control" type="email">
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">
          <i class="material-icons">lock_outline</i>
        </span>
        <div class="form-group label-floating is-empty">
          <label class="control-label">Password</label>
          <input class="form-control" type="password">
        </div>
      </div>
    </div>
    <div class="footer text-center">
      <button class="btn btn-rose btn-simple btn-wd btn-lg" type="submit">Let's go
        <div class="ripple-container"></div>
      </button>
    </div>
  </div>
</form>